    .box {
        text-align: center;
        font-weight: bold;
        font: Arial;
    }
    
    .wrapper {
        width: 1005px;
        margin: 0 auto;
    }
    
    .adbanner {
        background: white;
        display: block;
        margin: auto;
    }
    
    .navbar {
        text-align: center;
        word-spacing: 50px;
        background: white;
        font-size: 130%;
    }
    
    .navbar li {
        display: inline;
    }
    
    .navbar a {
        text-decoration: none;
        color: gray;
    }
    
    .navbar a:hover {
        text-decoration: none;
        color: #f45619;
    }
    
    .subnav {
        margin: auto;
        text-align: center;
        word-spacing: 15px;
        background: white;
        font-size: 15px;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray
    }
    
    .subnav li {
        display: inline;
    }
    
    .subnav a {
        color: black;
        border-right: 2px solid black;
        padding-right: 12px;
        text-decoration: none;
    }
    
    .subnav a:hover {
        color: #f45619;
    }
    
    .logosearch {
        text-align: center;
        text-decoration: none;
    }
    
    .social {
        margin-right: 100%;
        display: inline;
    }
    
    .social a:hover {
        color: #f45619;
    }
    
    /*.search {
        margin-left: 83%;
    }
    
    .login {
        margin-left: 83%;
        font-size: 12px;
    }
    
    .login li {
        display: inline;
    }
    
    .login a {
        text-decoration: none;
        color: black;
    }
    
    .login a:hover {
        color: #f45619;
    }
    */
    .topic {
        margin: auto;
        text-align: left;
        background: lightgray;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
    
    .topic li {
        display: inline;
    }
    
    .topic a {
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    
    .topic a:hover {
        color: #f45619;
    }
    
    .politics {
        background: red;
    }
    
    .blogs {
        background: chocolate;
    }
    
    .business {
        background: aquamarine;
    }