.box {
    text-align: center;
    font-weight: bold;
    font: Arial;
}

.wrapper {
    width: 1005px;
    margin: 0 auto;
}

.adbanner {
    background: white;
    display: block;
    margin: auto;
}

.navbar {
    text-align: center;
    word-spacing: 50px;
    background: white;
    font-size: 130%;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: gray;
}

.navbar a:hover {
    text-decoration: none;
    color: #f45619;
}

.subnav {
    margin: auto;
    text-align: center;
    word-spacing: 15px;
    background: white;
    font-size: 15px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray
}

.subnav li {
    display: inline;
}

.subnav a {
    color: black;
    border-right: 2px solid black;
    padding-right: 12px;
    text-decoration: none;
}

.subnav a:hover {
    text-decoration: none;
    color: #f45619;
}

.logosearch {
    padding: 1px;
    margin: 2px;
    text-align: center;
}

.logosearch p {
    font-size: 12px;
    color: gray;
    margin: auto;
}

.logosearch_search {
    margin-right: 50%;
    margin-left: 82%;
    padding: 5px;
}

.logosearch li {
    margin-left: 82%;
    display: inline;
    text-decoration: none;
}

.logosearch a {
    color: black;
    color: gray;
    text-decoration: none;
    font-size: 10px;
}

.logosearch a:hover {
    color: #f45619;
}

.topic {
    margin: auto;
    text-align: left;
    background:lightgray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.topic li {
    display: inline;
    
}

.topic a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.topic a:hover {
    color: #f45619;
}

.politics {
    background: red;
}

.blogs {
    background: chocolate;
}

.business {
    background: aquamarine;
}